/* navigation bar design*/
.navbar{
  color: black;
}

.my-navbar {
 background: black;
}

.card-title {
  color: #EAF2F8;
  text-align: center;
}

.card-text {
  color: #C0392B;
}

.navbar-header{
text-align: left;
}

.navbar-brand{
text-align:left;
color:#E38082  ;
font-family: pristina;
font-size:30px;
}


label{
  color: white;
  text-align: left;
}


.jumbotron{
text-align: center;
width:30%;
margin: 100px auto 0px;
color:black;
background:#121515;
border: 1px;
border-bottom: none;
border-radius: 8px 8px 8px 8px;
padding: 20px;

}
.form-group{
margin: 10px 0px 10px 0px;
}

.form-group label{
display: block;
text-align:center;
margin:1px;
}

.form-group input[type="text"], input[type="password"] input[type="email"] {
border:none;
border-bottom: 1px solid black;
padding: 15px 35px;
background: transparent;
outline: none;
height: 15px;
}

p{
  text-align: left;
  color: white;
}