<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Inventory Management System</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./includes/style.css">
  <script type="text/javascript" src="./js/main.js"></script>
 </head>
<body> 
</br>
</br>
<div class="container" style="width: 50%; height: 75%; ">
  <div class="jumbotron" style="background-color: #34495E ;">
  <div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label" style="color: white;"> Department </label>
  <div class="col-7">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-number-input" class="col-3 col-form-label"style="color: white;" > PR No.</label>
  <div class="col-7">
    <input class="form-control" type="number"  id="example-number-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-date-input" class="col-3 col-form-label" style="color: white;">Date</label>
  <div class="col-7">
    <input class="form-control" type="date"  id="example-date-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label" style="color: white;"> Purpose </label>
  <div class="col-7">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label" style="color: white;"> Requested by </label>
  <div class="col-7">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label" style="color: white;"> Recommending Approval </label>
  <div class="col-7">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label" style="color: white;"> Approved by</label>
  <div class="col-7">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group row" style="text-align: center;">
      <div class="offset-sm-2 col-sm-8">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>


</body>
</html>